@tailwind base;
@tailwind components;
@tailwind utilities;

.ql-container.ql-snow {
  height: 280px;
  overflow-y: auto !important;
  min-height: 280px !important;
  border-top: none !important;
  border-bottom-left-radius: 6px !important;
  border-bottom-right-radius: 6px !important;
  border: 1px solid #d9d9d9 !important;
  border-top: 0px !important
}

.ql-toolbar.ql-snow {
  border-top-left-radius: 6px !important;
  border-top-right-radius: 6px !important;
  border: 1px solid #d9d9d9 !important;


}
.ant-card-body {
  padding: 0px !important;
}

.ant-drawer-header-title {
  color: rgb(255 255 255 / 0.65) !important;
}

.ant-drawer-close{
  color: rgb(255 255 255 / 0.65) !important;
  font-size: 15px !important;
}

.customforsmallscreen .ql-container.ql-snow  {
  height: 55vh !important;
}

.custom-table .ant-table-body {
  overflow-y: auto !important;
  max-height: 300px !important;
  scrollbar-width: 3px !important;
  scrollbar-color: #a1a1aa #f3f4f6;
}

.custom-scrollbar.ql-editor {
  height: 65vh !important;
}

.fade-mask {
  position: relative;
  max-height: 200px; /* Adjust based on font-size */
  overflow: hidden;
}

.fade-mask2 {
  position: relative;
  max-height: 230px; /* Adjust based on font-size */
  overflow: hidden;
}

.fade-mask::after, .fade-mask2::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px; /* Gradient height */
  background: linear-gradient(transparent, white);
}

@media (min-width: 768px) {
  .customforsmallscreen .ql-container.ql-snow {
    height: 60vh !important;
  }
  /* .customforsmallscreen .ql-container.ql-snow .ql-editor {
    height: unset !important;
  } */

  

  .custom-scrollbar .ql-container.ql-snow .ql-editor::-webkit-scrollbar {
    width: 8px; /* Narrower scrollbar */
    border-radius: 10px;
  }

  .custom-scrollbar .ql-container.ql-snow .ql-editor::-webkit-scrollbar-track {
      background: lightgray; /* Light background */
      border-radius: 8px;
  }

  .custom-scrollbar .ql-container.ql-snow .ql-editor::-webkit-scrollbar-thumb {
      background: rgb(255 255 255 / 0.65); /* Match your app color */
      border-radius: 10px;
  }

  .custom-scrollbar .ql-container.ql-snow .ql-editor::-webkit-scrollbar-thumb:hover {
      background: rgb(255 255 255 / 0.65);; /* Darker on hover */
  }
}


@layer utilities {
  /* Custom scrollbar for a specific div */
  .custom-scrollbar::-webkit-scrollbar {
      width: 8px; /* Narrower scrollbar */
      border-radius: 10px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
      background: lightgray; /* Light background */
      border-radius: 8px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
      background: rgb(255 255 255 / 0.65); /* Match your app color */
      border-radius: 10px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
      background: rgb(255 255 255 / 0.65);; /* Darker on hover */
  }
}


/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
